<launch>
    <arg name="odom_topic" default="/odom_fastlio" />
    
    <!-- FAST-LIO for Mid360 -->
    <node pkg="fast_lio" type="fastlio_mapping" name="fastlio_mapping" 
          output="screen">
        <rosparam command="load" file="$(find fast_lio)/config/mid360.yaml" />
        <remap from="/Odometry_base" to="$(arg odom_topic)" />
    </node>
    
    <!-- 静态 TF: odom_2D -> odom_fastlio_base (让 FAST-LIO 的 odom 与 odom_2D 对齐) -->
    <node pkg="tf" type="static_transform_publisher" name="tf_odom2d_fastlio" 
          args="0 0 0 0 0 0 odom_2D odom_fastlio_base 100" />
    
</launch>
